<ion-header>
    <ion-toolbar>
        <ion-title>
            Contact
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center padding-bottom>
        <p>All information about pokeapi at</p>
        <a href="https://pokeapi.co/about/">https://pokeapi.co/about/</a>
    </div>

    <ion-list lines="none">
        <ion-list-header class="ion-justify-content-center">
            <h2>Follow us!</h2>
        </ion-list-header>


        <ion-item target="_blank" href="https://www.twitter.com/hidran">
            <ion-icon color="primary" name="logo-twitter" item-start></ion-icon>
            <ion-label>@hidran</ion-label>
        </ion-item>
        <ion-item target="_blank" href="https://www.facebook.com/hidranwebdevelopment/">
            <ion-icon color="primary" name="logo-facebook" item-start></ion-icon>
            <ion-label>@hidranwebdevelopment</ion-label>
        </ion-item>

        <ion-item target="_blank" href="https://www.linkedin.com/in/hidran/">
            <ion-icon color="primary" name="logo-linkedin" item-start></ion-icon>
            <ion-label>@hidran</ion-label>
        </ion-item>
        <ion-item target="_blank" href="https://www.youtube.com/channel/UC1rOFZh2ueiP8WIy20iVKrQ?view_as=subscriber">
            <ion-icon color="danger" name="logo-youtube" item-start></ion-icon>
            <ion-label>@hidran web development</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
