<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"
                             text="Back"
                             icon="none"
                             defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>pokemon detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <img [src]="pokemon.img">
        <ion-card-header>


            <ion-card-title class="ion-text-center">{{pokemon.name}}</ion-card-title>


        </ion-card-header>

        <ion-card-content padding>
            <ion-list>
                <ion-item>

                    <ion-label>Height</ion-label>
                    <ion-badge slot="end" color="danger"> {{pokDetail.height}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Weight</ion-label>
                    <ion-badge slot="end" color="danger"> {{pokDetail.weight}}</ion-badge>
                </ion-item>
                <ion-item *ngFor=" let ab of pokDetail?.abilities">

                    <ion-label>{{ab.ability.name}}</ion-label>
                    <ion-badge slot="end" color="danger"> {{ab.slot}}</ion-badge>

                </ion-item>
            </ion-list>
        </ion-card-content>
<ion-grid>
        <ion-row>
            <ion-col size="6" class="ion-text-center">
                <ion-item button  (click)="addToFavorite()" detail="false">
                    <ion-icon slot="start" color="{{isFavorite ? 'danger' : ''}}"
                              name="heart{{isFavorite ? '' : '-empty'}}">

                    </ion-icon>
                </ion-item>
            </ion-col>
            <ion-col   size="6" align-items-center>
                <ion-item button detail="false">
                    <ion-icon name="share" slot="end"></ion-icon>

                </ion-item>
            </ion-col>

        </ion-row>
</ion-grid>
    </ion-card>


</ion-content>
